body {

  background-image: url("img/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}


h1 {
  text-decoration: underline;
  text-align: center;
}


#presta {
font-size: 15px;
  float: left;
  width: 40%;
  margin: 2%;
  padding: 2%;
}


#itk {
font-size: 15px;
  float: right;
  width: 40%;
  margin: 2%;
  padding: 2%;
}


#saison {
font-size: 15px;
  text-align: center;
  float: none;
  width: 40%;

  padding: 2%;
}
